body {
  background: #1d1e3e;
  color: #FFF;
  font-size: 15px;
  font-family:'Futura PT W01 Book', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 42em;
  margin: 200px auto 3rem auto;
  font-size: 1.2rem;
}

.container a {
  color: #fff;
}
