.hero {
  height: 100vh;
  position: relative;
}

.header {
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  position: absolute;
  text-align: center;
  padding: 2rem;
}

.title {
  font-size: 4.5rem;
  font-weight: normal;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
}

.title strong {
  font-weight: normal;
  display: inline-block;
  position: relative;
}

.title strong:before {
  content: '';
  display: block;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  bottom: .45rem;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  } 
}
