.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.header {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

.title {
  font-size: 4.5rem;
  font-weight: normal;
  strong {
    text-decoration: underline;
    font-weight: normal;
    display: inline-block;
  }
}
