.container {
  display: flex;
}

.colLeft,
.colRight {
  width: 50%;
  padding: 3rem 6rem;
}

.colLeft,
.colRight a {
  color: rgba(255,255,255,0.7);
}

.colLeft {
  text-align: left;
}

.colRight a:hover {
  text-decoration: none;
}

.colRight {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .col {
    padding: 2rem;
  } 
}
