.container {
  display: flex;
  flex-wrap: wrap;
}

.container > span {
  width: 50%;
  padding: 3rem 6rem;
}

.container > span,
.container > span a {
  color: rgba(255,255,255,0.7);
}

.container > span:first-child {
  text-align: left;
}

.container > span:last-child a:hover {
  text-decoration: none;
}

.container > span:last-child {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .container > span:first-child,
  .container > span:last-child {
    width: 100%;
    text-align: center;
    padding: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .container > span:first-child,
  .container > span:last-child {
    padding: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .container > span:first-child,
  .container > span:last-child {
    padding: 1rem;
  }
}
